# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
myenv/
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# Data/model files
*.csv
*.xlsx
*.h5

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Python egg files
*.egg-info/
*.egg

# Test outputs
htmlcov/
.coverage
.tox/
